@model ZigmaWeb.UI.Areas.User.ViewModels.Profile.ProfileSettingsViewModel
@using ZigmaWeb.UI.Infrastructure.ExtensionMethod

<form id="passwordChangeForm" novalidate class="validatable-form">
    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.PasswordFor(model => model.ChangePasswordPM.CurrentPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor2(model => model.ChangePasswordPM.CurrentPassword)
        @Html.LabelFor(model => model.ChangePasswordPM.CurrentPassword, new { @class = "control-label" })
    </div>
    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.PasswordFor(model => model.ChangePasswordPM.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor2(model => model.ChangePasswordPM.Password)
        @Html.LabelFor(model => model.ChangePasswordPM.Password, new { @class = "control-label" })
    </div>
    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.PasswordFor(model => model.ChangePasswordPM.PasswordConfirm, new { @class = "form-control" })
        @Html.ValidationMessageFor2(model => model.ChangePasswordPM.PasswordConfirm)
        @Html.LabelFor(model => model.ChangePasswordPM.PasswordConfirm, new { @class = "control-label" })
    </div>

    <div class="margin-top-10">
        <button href="javascript:;" class="btn blue">بروزرسانی کلمه عبور</button>
    </div>
</form>
