@model ZigmaWeb.UI.Areas.User.ViewModels.Profile.ProfileSettingsViewModel
@using ZigmaWeb.UI.Infrastructure.ExtensionMethod
@using ZigmaWeb.Common.Enum

<form id="generalSettingsForm" novalidate class="validatable-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                @Html.TextBoxFor(model => model.GeneralSettings.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor2(model => model.GeneralSettings.FirstName)
                @Html.LabelFor(model => model.GeneralSettings.FirstName, new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                @Html.TextBoxFor(model => model.GeneralSettings.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor2(model => model.GeneralSettings.LastName)
                @Html.LabelFor(model => model.GeneralSettings.LastName, new { @class = "control-label" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                @Html.DropDownListFor(model => model.GeneralSettings.Sexuality, new List<SelectListItem>() {
                    new SelectListItem() {Text = "", Value = null },
                    new SelectListItem() {Text = "مرد", Value = Sexuality.Male.ToString() },
                    new SelectListItem() {Text = "زن", Value = Sexuality.Female.ToString() },
                }, new { @class = "form-control" })
                @Html.LabelFor(model => model.GeneralSettings.Sexuality)
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                @Html.TextBoxFor(model => model.GeneralSettings.MobileNumber, new { @class = "form-control" })
                @Html.LabelFor(model => model.GeneralSettings.MobileNumber, new { @class = "control-label" })
            </div>
        </div>
    </div>


    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.TextBoxFor(model => model.GeneralSettings.WebSiteUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor2(model => model.GeneralSettings.WebSiteUrl)
        @Html.LabelFor(model => model.GeneralSettings.WebSiteUrl, new { @class = "control-label" })
    </div>

    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.TextAreaFor(model => model.GeneralSettings.AboutMe, new { rows = "3", @class = "form-control" })
        @Html.LabelFor(model => model.GeneralSettings.AboutMe, new { @class = "control-label" })
    </div>

    <div class="margiv-top-10">
        <button type="submit" class="btn blue">ذخیره</button>
    </div>
</form>
