@model ZigmaWeb.UI.Areas.User.ViewModels.Profile.ProfileSettingsViewModel
@using ZigmaWeb.UI.Infrastructure.ExtensionMethod

<form id="socialNetworksForm" novalidate class="validatable-form">
    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.TextBoxFor(model => model.ProfileSocialNetworkUrls.LinkedInUrl, new { @class = "form-control ltr" })
        @Html.ValidationMessageFor2(model => model.ProfileSocialNetworkUrls.LinkedInUrl)
        @Html.LabelFor(model => model.ProfileSocialNetworkUrls.LinkedInUrl, new { @class = "control-label" })
    </div>

    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.TextBoxFor(model => model.ProfileSocialNetworkUrls.FacebookUrl, new { @class = "form-control ltr" })
        @Html.ValidationMessageFor2(model => model.ProfileSocialNetworkUrls.FacebookUrl)
        @Html.LabelFor(model => model.ProfileSocialNetworkUrls.FacebookUrl, new { @class = "control-label" })
    </div>

    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.TextBoxFor(model => model.ProfileSocialNetworkUrls.TwitterUrl, new { @class = "form-control ltr" })
        @Html.ValidationMessageFor2(model => model.ProfileSocialNetworkUrls.TwitterUrl)
        @Html.LabelFor(model => model.ProfileSocialNetworkUrls.TwitterUrl, new { @class = "control-label" })
    </div>

    <div class="margiv-top-10">
        <button type="submit" class="btn blue">ذخیره</button>
    </div>
</form>
